html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.banner-color {
    background: linear-gradient(rgb(0, 123, 255), rgb(23, 162, 184, 0));
}


/* gallery */

.text-perple {
    color: #800080;
}

.text-green {
    color: #42B32F;
}

.bg-perple {
    background-color: #800080;
}

.bg-green {
    background-color: #42B32F;
}

.gallery-title {
    font-size: 60px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;
}

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}